<div id="main-box">
  <h1>Looks like you are not signed in!</h1>
  <hr>
  <div class="button-group">
    <%= button_to "Sign In", new_user_session_path, method: :get, class: "button" %>
    <%= button_to "Sign Up", new_user_registration_path, method: :get, class: "button" %>
  </div>
</div>